/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); */

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter-VariableFont_slnt\wght.ttf) format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  /* Primary Colors */
  --color-dark-blue: hsl(229, 63%, 41%);
  --color-light-blue: hsl(214, 87%, 79%);
  --color-light-green: hsl(168, 67%, 72%);
  --color-light-purple: hsl(250, 83%, 84%);
  --color-light-pink: hsl(325, 64%, 80%);
  --color-light-yellow: hsl(33, 84%, 83%);

  /* Neutral Colors */
  --color-neutral-100: hsl(0, 100%, 100%);
  --color-neutral-200: hsl(220, 14%, 96%);
  --color-neutral-400: hsl(219, 17%, 27%);
  --color-neutral-900: hsl(0, 0%, 0%);

  /* Font Family */
  --ff-base: 'Outfit', sans-serif;

  /* Font Size */
  --fs-48: 3rem;
  --fs-40: 2.5rem;
  --fs-32: 2rem;
  --fs-20: 1.25rem;
  --fs-18: 1.125rem;
  --fs-16: 1rem;
  --fs-15: 0.9375rem;
  --fs-14: 0.875rem;
  --fs-12: 0.75rem;
  --fs-10: 0.625rem;

  /* Default Font Size */
  --fs-base: var(--fs-16);
  /* Font Weights */
  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
  --fw-200: 200;
  --fw-100: 100;

  /* Spacing */
  --spacing-4: 0.25rem;
  --spacing-6: 0.375rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-60: 3.75rem;
  --spacing-72: 4.5rem;
  --spacing-80: 5rem;
}

/********* Reset **********/
/* Stop any animation if the user has set their device to "prefers reduced motion". */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    animation-duration: 0.1s !important;
    transition-duration: 0.1s !important;

    scroll-behavior: smooth;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  color: var(--color-neutral-400);
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  line-height: 1.6;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

main {
  padding-block-start: var(--spacing-20);
  margin-inline: var(--spacing-8);
}

/********* Grid Wrapper Styles **********/

.grid__wrapper {
  display: grid;
  width: fit-content;
  margin-inline: auto;

  /* Default: 1 column, max width of 390px */
  grid-template-columns: minmax(0, 390px);
  justify-content: center;

  background: url(../resources/Background_decor.svg), var(--color-neutral-200);
  background-repeat: no-repeat;
  border-radius: 16px;
  overflow: hidden;
}

/********* Header Styles **********/
.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  padding: var(--spacing-32);
  min-height: 288px;
}

.ribbon__text {
  font-size: var(--fs-16);
  letter-spacing: -1%;
  color: var(--color-dark-blue);
  border-radius: 0 0 0 8px;
}

.section__title {
  font-size: var(--fs-40);
  font-weight: var(--fw-500);
  letter-spacing: -1%;
}

.section__description {
  letter-spacing: -1%;
}

/********* Team Member Styles **********/
.team__member {
  position: relative;
  color: var(--color-neutral-100);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.overlay {
  position: absolute;
  inset: 0;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../resources/Gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.team__member__image img {
  object-fit: cover;
}

.team__member__info {
  position: absolute;
  bottom: var(--spacing-20);
  left: var(--spacing-24);
  z-index: 2;
}

.team__member__name {
  font-size: var(--fs-20);
  font-weight: var(--fw-700);
  margin-bottom: var(--spacing-4);
}

.team__member__role {
  font-size: var(--fs-15);
  font-weight: var(--fw-400);
}

.all__members__link {
  position: relative;
  height: 395px;
}

.all__members__link a {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: var(--spacing-20);
  left: var(--spacing-24);
  color: var(--color-neutral-400);
  text-decoration: none;
}

/********* Background Colors **********/
.purple__background {
  position: relative;
  background-color: var(--color-light-purple);
}

.pink__background {
  background-color: var(--color-light-pink);
}

.blue__background {
  background-color: var(--color-light-blue);
}

.yellow__background {
  background-color: var(--color-light-yellow);
}

.green__background {
  background-color: var(--color-light-green);
}

/********* Media Queries **********/
/* At 600px: Switch to 2 columns */
@media (min-width: 600px) {
  .grid__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 390px));
    width: fit-content;
  }

  main {
    padding-block-start: var(--spacing-72);
  }

  .header {
    grid-column: 1/-1;
  }
}

/* At 1024px: Switch to 3 fixed columns */
@media (min-width: 1024px) {
  .grid__wrapper {
    grid-template-columns: repeat(3, 284px);
    grid-template-rows: repeat(3, 288px);

    width: fit-content;
  }

  .header {
    grid-column: span 3;
  }

  .all__members__link {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .all__members__link {
    height: 288px;
  }
}

/* At 1350px: Switch to 4 fixed columns */
@media (min-width: 1350px) {
  .grid__wrapper {
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(2, 288px);
  }

  .header {
    grid-column: span 2;
  }

  .all__members__link {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
